{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            username: {{ current_user.username}}
        </div>
            
        <div class="col-md-4 ">
            <!-- <p><b>Background </b></p> -->
            
            <img src="{{ url_for('static', filename='images/apple.png') }}">
            
            <p>Welcome to python, Flask</p>
        </div>
        <div class="col-md-4 ">
        
            <!-- <p><b> Study</b></p> -->
            <P>Have you worked with templates before? Worry not, this is where you learn about flask templates.</P>
        </div>

        
    </div>


{% endblock %}