{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p> 
                username: {{ current_user.username}}

            </p>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.body.label }} <br>
                    {{form.body(size=32) }}
                    {% for error in form.body.errors %}
                        <span style="color: red">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </form>

        </div>
    </div>


{% endblock %}