{% extends "base.html" %}

{% block content %}
    <div class="row">
            
        <div class="col-md-6 ">
            <p><b>Background </b></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
        <div class="col-md-6 ">
        
            <p><b> Study</b></p>
            <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</P>
        </div>
        
    </div>


{% endblock %}